In [1]:
import pandas as pd
import jieba
import jieba.analyse
jieba.set_dictionary('dict.idkrsi.txt')    #預設字典改繁體
jieba.analyse.set_stop_words("stopword.goatwang.kang.txt")

In [2]:
df_bbs = pd.read_csv("bda2019_dataset/bbs2.csv", encoding="utf-8")    #pandas讀取csv
#df_bbs.head(2)

In [3]:
#df_bbs['content'] = (df_bbs['content']).replace("\n","")      #似乎無效
#df_bbs['content'] = str(df_bbs['content']).replace("\n","")   #似乎無效

In [4]:
#df_bbs['content'] = str(df_bbs['content']) #有效 但不能replace 而且開頭會多一個 0 
#df_bbs['title'] = str(df_bbs['title'])

In [5]:
content = []                                                            # list

# for index, row in df.iterrows():                                      

for rec in df_bbs.iterrows():                                          # rec[0]就是index rec[1]就是row 
                                                                       # rec[1]['title']  會dataframe由上到下
    seg_list = str( rec[1]['title'] ).replace('\n','').replace(',',' ') # title的內容先轉string   #'空字串'取代'\n'   #'空格'取代','
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))                                  # 切好丟進list

df_bbs["title2"]=content                                                # list塞進dataframe
#df_bbs.head(2)

Building prefix dict from /home/barry/projects/stock/dict.idkrsi.txt ...
Dumping model to file cache /tmp/jieba.ufc1c7fa02eb193cee2bb78b34d63c017.cache
Loading model cost 0.635 seconds.
Prefix dict has been built succesfully.

In [6]:
content = []
for rec in df_bbs.iterrows():
    seg_list = str( rec[1]['content'] ).replace('\n','').replace(',',' ')
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))

df_bbs["content2"]=content
df_bbs.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url,title2,content2
0,1451580710262_PTT02R,bbs,Ptt,Stock,10,2016/1/1 00:48:25,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...,http://www.ptt.cc/bbs/Stock/M.1451580509.A.722...,[ 新聞 ] 第 三方 支付 台灣 普及 關鍵 年,1 . 原文 連結 ( 必須 檢附 ) ： http : / / magazine . ch...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28,2016/1/1 00:50:54,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...,http://www.ptt.cc/bbs/Stock/M.1451580658.A.D8B...,[ 新聞 ] 曾 銘宗 ： 電子 支付 拼 5 年 倍增,1 . 原文 連結 ( 必須 檢附 ) ： http : / / www . appleda...

In [7]:
df_news = pd.read_csv("bda2019_dataset/news2.csv", encoding="utf-8")
#df_news.head(2)

In [8]:
content = []
for rec in df_news.iterrows():
    seg_list = str( rec[1]['title'] ).replace('\n','').replace(',',' ') 
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))                                  

df_news["title2"]=content                                            
#df_news.head(2)

In [9]:
content = []
for rec in df_news.iterrows():
    seg_list = str( rec[1]['content'] ).replace('\n','').replace(',',' ')
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))

df_news["content2"]=content
df_news.head(2)

,id,p_type,s_name,s_area_name,post_time,title,author,content,page_url,title2,content2
0,1451580107540_N01,news,yahoo股市,重大要聞,2016/1/1 00:06:00,淪落的2015 竟是78年來最難獲利的一年,鉅亨網,鉅亨網編譯郭照青這一年，獲利真是難上難。<BR>根據CNBC分析報導，興業銀行的數據顯示，2...,https://tw.stock.yahoo.com/news_content/url/d/...,淪落 的 2015 竟是 78 年來 最難 獲利 的 一年,鉅亨網 編譯 郭照 青 這一年 ， 獲利 真是 難上 難 。 < BR > 根據 CNBC ...
1,1451582807314_N01,news,yahoo股市,重大要聞,2016/1/1 00:52:00,美股盤中─今年最後交易日 道瓊大跌逾150點 注意油價走勢,鉅亨網,鉅亨網編譯郭照青今日為2015年最後交易日，美國股市中場走低，投資人注意油價走勢。<BR>道...,https://tw.stock.yahoo.com/news_content/url/d/...,美股盤 中 ─ 今年 最後 交易日 道瓊 大跌 逾 150 點 注意 油價 走勢,鉅亨網 編譯 郭照 青 今日 為 2015 年 最後 交易日 ， 美國 股市 中場 走低 ，...

In [10]:
df_forum = pd.read_csv("bda2019_dataset/forum2.csv", encoding="utf-8")
#df_forum.head(2)

In [11]:
content = []
for rec in df_forum.iterrows():
    seg_list = str( rec[1]['title'] ).replace('\n','').replace(',',' ') 
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))                                  

df_forum["title2"]=content                         
#df_forum.head(2)

In [12]:
content = []
for rec in df_forum.iterrows():
    seg_list = str( rec[1]['content'] ).replace('\n','').replace(',',' ') 
    seg_list = jieba.cut(seg_list, cut_all=False)
    content.append(' '.join(seg_list))                                  

df_forum["content2"]=content                                            
df_forum.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url,title2,content2
0,1451585357153_F01,forum,mobile01,投資與理財(生活娛樂),1,2016/1/1 2:01:00,自刪,famas2200,不小心發錯版主請幫忙刪除文章謝謝,http://www.mobile01.com/topicdetail.php?f=291&...,自刪,不 小心 發錯 版主 請 幫忙 刪除 文章 謝謝
1,1451616871574_F01,forum,mobile01,投資與理財(生活娛樂),5,2016/1/1 10:41:00,傳超微已打算將訂單下給格羅方德,taiwan2008,台積電爭奪超微下一代繪圖處理器失利，因為傳超微已打算將訂單下給格羅方德（GlobalFoun...,http://www.mobile01.com/topicdetail.php?f=291&...,傳 超微 已 打算 將 訂單 下給 格羅方德,台積電 爭奪 超微 下一代 繪圖 處理器 失利 ， 因為 傳 超微 已 打算 將 訂單 下給...

In [13]:
type(content)

list