In [1]:
import jieba
import jieba.analyse
import csv
import pandas as pd
jieba.set_dictionary('dict.idkrsi.txt')
jieba.analyse.set_stop_words("stopword.goatwang.kang.txt")

In [2]:
stopwords=list()
with open('stopword.goatwang.kang.txt', 'r',encoding='utf-8') as data:
    for stopword in data:
        stopwords.append(stopword.strip('\n'))

In [3]:
type(stopwords)

list

In [4]:
stopwords[0:20]

['\ufeff\ufeff,',
 '',
 '、',
 '。',
 '“',
 '”',
 '《',
 '》',
 '！',
 '，',
 '：',
 '；',
 '？',
 '人民',
 '末##末',
 '啊',
 '阿',
 '哎',
 '哎呀',
 '哎喲']

In [5]:
df_news=pd.read_csv("bda2019_dataset/news2.csv",encoding="utf-8")
df_bbs=pd.read_csv("bda2019_dataset/bbs2.csv",encoding="utf-8")
df_forum=pd.read_csv("bda2019_dataset/forum2.csv",encoding="utf-8")

In [6]:
df_news.head(2)

,id,p_type,s_name,s_area_name,post_time,title,author,content,page_url
0,1451580107540_N01,news,yahoo股市,重大要聞,2016/1/1 00:06:00,淪落的2015 竟是78年來最難獲利的一年,鉅亨網,鉅亨網編譯郭照青這一年，獲利真是難上難。<BR>根據CNBC分析報導，興業銀行的數據顯示，2...,https://tw.stock.yahoo.com/news_content/url/d/...
1,1451582807314_N01,news,yahoo股市,重大要聞,2016/1/1 00:52:00,美股盤中─今年最後交易日 道瓊大跌逾150點 注意油價走勢,鉅亨網,鉅亨網編譯郭照青今日為2015年最後交易日，美國股市中場走低，投資人注意油價走勢。<BR>道...,https://tw.stock.yahoo.com/news_content/url/d/...

In [7]:
df_bbs.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451580710262_PTT02R,bbs,Ptt,Stock,10,2016/1/1 00:48:25,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...,http://www.ptt.cc/bbs/Stock/M.1451580509.A.722...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28,2016/1/1 00:50:54,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...,http://www.ptt.cc/bbs/Stock/M.1451580658.A.D8B...

In [8]:
df_forum.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451585357153_F01,forum,mobile01,投資與理財(生活娛樂),1,2016/1/1 2:01:00,自刪,famas2200,不小心發錯版主請幫忙刪除文章謝謝,http://www.mobile01.com/topicdetail.php?f=291&...
1,1451616871574_F01,forum,mobile01,投資與理財(生活娛樂),5,2016/1/1 10:41:00,傳超微已打算將訂單下給格羅方德,taiwan2008,台積電爭奪超微下一代繪圖處理器失利，因為傳超微已打算將訂單下給格羅方德（GlobalFoun...,http://www.mobile01.com/topicdetail.php?f=291&...

In [9]:
content=""
#count=0
for row in df_news.index:
    try:
        content=content+df_news.loc[row,'content']
    except:
        continue
#    count+=1
#    if count>10000:
#        break

for row in df_bbs.index:
    try:
        content=content+df_bbs.loc[row,'content']
    except:
        continue
        
for row in df_forum.index:
    try:
        content=content+df_forum.loc[row,'content']
    except:
        continue

In [10]:
templist=jieba.cut(str(content).replace('\n','').replace(',',' '), cut_all=False)
type(templist)

generator

In [11]:
seglist=list(templist)
seglist[0:20]

Building prefix dict from /home/barry/projects/stock/dict.idkrsi.txt ...
Loading model from cache /tmp/jieba.ufc1c7fa02eb193cee2bb78b34d63c017.cache
Loading model cost 0.400 seconds.
Prefix dict has been built succesfully.

['鉅亨網',
 '編譯',
 '郭照',
 '青',
 '這一年',
 '，',
 '獲利',
 '真是',
 '難上',
 '難',
 '。',
 '<',
 'BR',
 '>',
 '根據',
 'CNBC',
 '分析',
 '報導',
 '，',
 '興業']

In [13]:
#newseglist=list()
#for word in seglist:
#    if word not in stopwords:
#        newseglist.append(word)

newseglist = list(filter(lambda a: a not in stopwords and a != '\n', seglist))    # 切詞跟stopwords比對
newseglist[0:20]

['鉅亨網',
 '編譯',
 '郭照',
 '青',
 '這一年',
 '獲利',
 '真是',
 '難上',
 '難',
 'CNBC',
 '分析',
 '報導',
 '興業',
 '銀行',
 '數據',
 '顯示',
 '2015',
 '表現',
 '最佳',
 '資產']

In [20]:
del seglist
del content

NameError: name 'seglist' is not defined

In [40]:
wordcount = {}      # dictionary
for word in newseglist:
    if str(word[0]).isdigit()==False:    # 切詞不是數字
        try:
            wordcount[word] = wordcount[word] + 1
        except:
            wordcount[word] = 1

In [41]:
list(wordcount.items())[0:20]   # list( dictionary.items() ) 會轉成list

[('鉅亨網', 2542),
 ('編譯', 1356),
 ('郭照', 425),
 ('青', 974),
 ('這一年', 370),
 ('獲利', 68952),
 ('真是', 1546),
 ('難上', 3),
 ('難', 5654),
 ('CNBC', 4227),
 ('分析', 38083),
 ('報導', 110308),
 ('興業', 1142),
 ('銀行', 69525),
 ('數據', 32934),
 ('顯示', 51664),
 ('表現', 76966),
 ('最佳', 6040),
 ('資產', 49132),
 ('當屬', 82)]

In [42]:
sorted_x = sorted(wordcount.items(), key=lambda kv: kv[1])  # sorted( dictionary.items() ) 也會變成list   # kv[1] 用第2個column排序
sorted_x.reverse()          # ascending 轉 descending
sorted_x[0:20]
sorted_x[:][:20]

[('公司', 345312),
 ('元', 332072),
 ('市場', 263691),
 ('億元', 211604),
 ('美國', 193374),
 ('中國', 185502),
 ('基金', 182109),
 ('表示', 177872),
 ('點', 176873),
 ('美元', 175593),
 ('指數', 173056),
 ('投資', 153361),
 ('今年', 153343),
 ('營收', 151453),
 ('台灣', 132943),
 ('中', 126020),
 ('台股', 122706),
 ('?', 121266),
 ('全球', 121171),
 ('交易', 119606)]

In [43]:
len(sorted_x)

479822

In [44]:
#for word, number in sorted_x:
#    judgeword=''.join([str(word), str(number)])
#    judgeword=''.join(map(str, word))                  # str('點'),str(12932)       # 把'點', '12932' 合併成 '點12932' 

#for word in sorted_x:   
#    if str(word[0]).isdigit()==True:                      # 如果全數字       
#        sorted_x.remove(word)                          # 從list刪掉

In [55]:
df_features = pd.DataFrame(dict(sorted_x),index=['number'])
df_features.head()

,公司,元,市場,億元,美國,中國,基金,表示,點,美元,...,鳳屏宮,林秋芳,這錯,微辭,邱坤良,廖玉蕙,陳若曦,趴一,應值,Coffina
number,345312,332072,263691,211604,193374,185502,182109,177872,176873,175593,...,1,1,1,1,1,1,1,1,1,1

In [56]:
df_features = pd.DataFrame(dict(sorted_x),index=['number']).T
df_features.head()

    number
公司  345312
元   332072
市場  263691
億元  211604
美國  193374

In [60]:
sorted_x[:][0:20]

[('公司', 345312),
 ('元', 332072),
 ('市場', 263691),
 ('億元', 211604),
 ('美國', 193374),
 ('中國', 185502),
 ('基金', 182109),
 ('表示', 177872),
 ('點', 176873),
 ('美元', 175593),
 ('指數', 173056),
 ('投資', 153361),
 ('今年', 153343),
 ('營收', 151453),
 ('台灣', 132943),
 ('中', 126020),
 ('台股', 122706),
 ('?', 121266),
 ('全球', 121171),
 ('交易', 119606)]

In [87]:
#count=0
for word, number in sorted_x:
    if number >= 10:
#        count = count + 1
        print(str(word) + " " + str(number) ,file=open("features.number.txt", "a"))  # print存成txt
#count

In [88]:
for word, number in sorted_x:
    if int(number) >= 10:
        print(str(word) ,file=open("features.txt", "a"))  # print存成txt