In [1]:
import pandas as pd

In [2]:
df_OTC2018 = pd.read_csv("bda2019_dataset/OTC2018.csv",encoding="utf-8")
df_OTC2017 = pd.read_csv("bda2019_dataset/OTC2017.csv",encoding="utf-8")
df_OTC2016 = pd.read_csv("bda2019_dataset/OTC2016.csv",encoding="utf-8")
df_TWSE2018 = pd.read_csv("bda2019_dataset/TWSE2018.csv",encoding="utf-8")
df_TWSE2017 = pd.read_csv("bda2019_dataset/TWSE2017.csv",encoding="utf-8")
df_TWSE2016 = pd.read_csv("bda2019_dataset/TWSE2016.csv",encoding="utf-8")
df_bbs = pd.read_csv("bda2019_dataset/bbs2.csv",encoding="utf-8")
df_forum = pd.read_csv("bda2019_dataset/forum2.csv",encoding="utf-8")
df_news = pd.read_csv("bda2019_dataset/news2.csv",encoding="utf-8")

/home/barry/miniconda3/envs/stockenv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_OTC2018.head(2)

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1240 茂生農經,2018/12/28,36.7,36.95,36.5,36.5,38,"1,393",25,"33,000",14.48,1.02
1,1258 其祥-KY,2018/12/28,21.65,21.65,21.25,21.3,16,340,8,"36,816",NaN,1.06

In [ ]:
df_OTC2017.head(2)

In [ ]:
df_OTC2016.head(2)

In [4]:
df_TWSE2018.head(2)

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1101 台泥,2018/12/28,35.4,35.75,35.4,35.6,"8,117","288,722","3,471","5,108,059",9.78,1.07
1,1102 亞泥,2018/12/28,33.55,34.3,33.55,33.95,"5,297","180,516","1,916","3,361,447",10.38,0.83

In [ ]:
df_TWSE2017.head(2)

In [ ]:
df_TWSE2016.head(2)

In [5]:
df_bbs.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451580710262_PTT02R,bbs,Ptt,Stock,10,2016/1/1 00:48:25,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...,http://www.ptt.cc/bbs/Stock/M.1451580509.A.722...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28,2016/1/1 00:50:54,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...,http://www.ptt.cc/bbs/Stock/M.1451580658.A.D8B...

In [6]:
df_forum.head(2)

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451585357153_F01,forum,mobile01,投資與理財(生活娛樂),1,2016/1/1 2:01:00,自刪,famas2200,不小心發錯版主請幫忙刪除文章謝謝,http://www.mobile01.com/topicdetail.php?f=291&...
1,1451616871574_F01,forum,mobile01,投資與理財(生活娛樂),5,2016/1/1 10:41:00,傳超微已打算將訂單下給格羅方德,taiwan2008,台積電爭奪超微下一代繪圖處理器失利，因為傳超微已打算將訂單下給格羅方德（GlobalFoun...,http://www.mobile01.com/topicdetail.php?f=291&...

In [7]:
df_news.head(2)

,id,p_type,s_name,s_area_name,post_time,title,author,content,page_url
0,1451580107540_N01,news,yahoo股市,重大要聞,2016/1/1 00:06:00,淪落的2015 竟是78年來最難獲利的一年,鉅亨網,鉅亨網編譯郭照青這一年，獲利真是難上難。<BR>根據CNBC分析報導，興業銀行的數據顯示，2...,https://tw.stock.yahoo.com/news_content/url/d/...
1,1451582807314_N01,news,yahoo股市,重大要聞,2016/1/1 00:52:00,美股盤中─今年最後交易日 道瓊大跌逾150點 注意油價走勢,鉅亨網,鉅亨網編譯郭照青今日為2015年最後交易日，美國股市中場走低，投資人注意油價走勢。<BR>道...,https://tw.stock.yahoo.com/news_content/url/d/...