In [19]:
import pandas as pd

In [20]:
df_OTC2018 = pd.read_csv("bda2019_dataset/OTC2018.csv",encoding="utf-8")
df_OTC2017 = pd.read_csv("bda2019_dataset/OTC2017.csv",encoding="utf-8")
df_OTC2016 = pd.read_csv("bda2019_dataset/OTC2016.csv",encoding="utf-8")
df_TWSE2018 = pd.read_csv("bda2019_dataset/TWSE2018.csv",encoding="utf-8")
df_TWSE2017 = pd.read_csv("bda2019_dataset/TWSE2017.csv",encoding="utf-8")
df_TWSE2016 = pd.read_csv("bda2019_dataset/TWSE2016.csv",encoding="utf-8")
df_bbs = pd.read_csv("bda2019_dataset/bbs2.csv",encoding="utf-8")
df_forum = pd.read_csv("bda2019_dataset/forum2.csv",encoding="utf-8")
df_news = pd.read_csv("bda2019_dataset/news2.csv",encoding="utf-8")

In [21]:
df_OTC2018.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1240 茂生農經,2018/12/28,36.7,36.95,36.5,36.5,38,"1,393",25,"33,000",14.48,1.02
1,1258 其祥-KY,2018/12/28,21.65,21.65,21.25,21.3,16,340,8,"36,816",NaN,1.06
2,1259 安心,2018/12/28,65.5,65.5,64.5,64.8,22,"1,426",22,"32,389",14.83,1.20
3,1264 德麥,2018/12/28,194,194,194,194,8,"1,568",34,"33,695",14.5,3.02
4,1268 漢來美食,2018/12/28,122,124,122,123.5,7,869,9,"37,365",18.22,3.11

In [22]:
df_OTC2017.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1258 其祥-KY,2017/12/29,29.5,29.5,29.31,29.31,6,182,4,"36,816",16.02,1.27
1,1259 安心,2017/12/29,80.71,85.49,80.71,85.49,12,"1,060",18,"32,389",17.53,1.68
2,1264 德麥,2017/12/29,222.25,223.68,222.25,223.68,7,"1,736",16,"33,695",17.02,3.82
3,1268 漢來美食,2017/12/29,131.43,131.43,130.51,130.51,18,"2,627",21,"37,991",23.05,3.17
4,1333 恩得利,2017/12/29,3.92,3.94,3.92,3.94,6,25,20,"74,515",NaN,0.85

In [23]:
df_OTC2016.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1258 其祥-KY,2016/12/30,36.42,37.08,36.42,36.94,101,"3,931",43,"36,399",9.84,1.68
1,1259 安心,2016/12/30,70.96,70.96,70.96,70.96,32,"2,448",29,"32,389",14.49,1.49
2,1264 德麥,2016/12/30,167.18,167.6,166.77,167.6,6,"1,210",7,"30,632",14.41,3.18
3,1333 恩得利,2016/12/30,3.52,3.58,3.52,3.56,9,35,20,"61,515",NaN,0.54
4,1336 台翰,2016/12/30,8.23,8.4,8.23,8.4,25,218,9,"62,753",NaN,0.46

In [24]:
df_TWSE2018.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1101 台泥,2018/12/28,35.4,35.75,35.4,35.6,"8,117","288,722","3,471","5,108,059",9.78,1.07
1,1102 亞泥,2018/12/28,33.55,34.3,33.55,33.95,"5,297","180,516","1,916","3,361,447",10.38,0.83
2,1103 嘉泥,2018/12/28,13.5,13.6,13.45,13.6,200,"2,707",78,"774,780",4.81,0.42
3,1104 環泥,2018/12/28,18.8,18.9,18.8,18.9,69,"1,310",52,"653,609",10.8,0.70
4,1108 幸福,2018/12/28,7.34,7.35,7.34,7.34,31,229,18,"404,738",0,0.68

In [25]:
df_TWSE2017.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1101 台泥,2017/12/29,31.81,32.34,31.72,32.03,"13,039","474,385","3,330","4,246,509",19.92,1.20
1,1102 亞泥,2017/12/29,27.07,27.55,27.02,27.45,"6,702","188,371","2,552","3,361,447",17.63,0.75
2,1103 嘉泥,2017/12/29,12.43,13.1,12.43,12.91,"3,450","45,905","1,102","774,780",83.44,0.51
3,1104 環泥,2017/12/29,21.6,21.89,21.6,21.7,485,"11,163",220,"653,609",9.94,0.93
4,1108 幸福,2017/12/29,8.36,8.4,8.35,8.37,150,"1,262",50,"404,738",52.31,0.75

In [26]:
df_TWSE2016.head()

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,1101 台泥,2016/12/30,29.09,29.64,28.93,29.64,"6,121","213,121","2,939","3,692,175",20.56,1.23
1,1102 亞泥,2016/12/30,24.91,24.91,24.67,24.81,"3,347","88,078","1,227","3,361,447",31.75,0.73
2,1103 嘉泥,2016/12/30,8.29,8.29,8.29,8.29,0,0,0,"774,780",11.19,0.40
3,1104 環泥,2016/12/30,21.19,21.54,21.19,21.54,141,"3,492",115,"634,572",9.27,0.97
4,1108 幸福,2016/12/30,8.55,8.6,8.53,8.55,90,822,33,"404,738",10.99,0.78

In [27]:
df_bbs.head()

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451580710262_PTT02R,bbs,Ptt,Stock,10,2016/1/1 00:48:25,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...,http://www.ptt.cc/bbs/Stock/M.1451580509.A.722...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28,2016/1/1 00:50:54,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...,http://www.ptt.cc/bbs/Stock/M.1451580658.A.D8B...
2,1451580711248_PTT02R,bbs,Ptt,Stock,44,2016/1/1 00:51:16,[請益] 交割帳戶什麼時候會扣款??,Lawleit,寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...,http://www.ptt.cc/bbs/Stock/M.1451580679.A.38D...
3,1451581329544_PTT02R,bbs,Ptt,Stock,17,2016/1/1 00:56:06,[新聞] 睽違8年 大宇資重返2016台北電玩展,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...,http://www.ptt.cc/bbs/Stock/M.1451580970.A.62F...
4,1451583749064_PTT02R,bbs,Ptt,Stock,33,2016/1/1 01:42:20,[新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊,DarkerDuck,1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...,http://www.ptt.cc/bbs/Stock/M.1451583742.A.370...

In [28]:
df_forum.head()

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content,page_url
0,1451585357153_F01,forum,mobile01,投資與理財(生活娛樂),1,2016/1/1 2:01:00,自刪,famas2200,不小心發錯版主請幫忙刪除文章謝謝,http://www.mobile01.com/topicdetail.php?f=291&...
1,1451616871574_F01,forum,mobile01,投資與理財(生活娛樂),5,2016/1/1 10:41:00,傳超微已打算將訂單下給格羅方德,taiwan2008,台積電爭奪超微下一代繪圖處理器失利，因為傳超微已打算將訂單下給格羅方德（GlobalFoun...,http://www.mobile01.com/topicdetail.php?f=291&...
2,1451616872738_F01,forum,mobile01,投資與理財(生活娛樂),4,2016/1/1 10:45:00,蘋果將另尋成長動能發動購併 ??,taiwan2008,有分析師認為 蘋果將另尋成長動能，或許會動用深到不行的口袋，發動購併，可能目標包括 Adob...,http://www.mobile01.com/topicdetail.php?f=291&...
3,1451618546867_F01,forum,mobile01,投資與理財(生活娛樂),7,2016/1/1 11:19:00,[詢問] 停徵證所稅,Go Go Free Life,新聞相關報導:<BR>[立法院院會去年11月三讀修正通過所得稅法部分條文，刪除有關證所稅相關...,http://www.mobile01.com/topicdetail.php?f=291&...
4,1451623256525_F01,forum,mobile01,投資與理財(生活娛樂),7,2016/1/1 12:29:00,網路出金,mobiliken,請問一下，網路出金是什麼？謝謝各位喔。,http://www.mobile01.com/topicdetail.php?f=291&...

In [29]:
df_news.head()

,id,p_type,s_name,s_area_name,post_time,title,author,content,page_url
0,1451580107540_N01,news,yahoo股市,重大要聞,2016/1/1 00:06:00,淪落的2015 竟是78年來最難獲利的一年,鉅亨網,鉅亨網編譯郭照青這一年，獲利真是難上難。<BR>根據CNBC分析報導，興業銀行的數據顯示，2...,https://tw.stock.yahoo.com/news_content/url/d/...
1,1451582807314_N01,news,yahoo股市,重大要聞,2016/1/1 00:52:00,美股盤中─今年最後交易日 道瓊大跌逾150點 注意油價走勢,鉅亨網,鉅亨網編譯郭照青今日為2015年最後交易日，美國股市中場走低，投資人注意油價走勢。<BR>道...,https://tw.stock.yahoo.com/news_content/url/d/...
2,1451584607515_N01,news,yahoo股市,重大要聞,2016/1/1 01:21:00,2016年 原油將突破每桶80美元,鉅亨網,鉅亨網編譯郭照青根據路透社分析師Andy Critchlow指出，原油價格下一波的大幅走勢將...,https://tw.stock.yahoo.com/news_content/url/d/...
3,1451597207172_N01,news,yahoo股市,重大要聞,2016/1/1 02:44:00,2015年 美國近70%投資人賠錢,鉅亨網,鉅亨網編譯郭照青拜拜了，2015年。<BR>根據CNNMoney分析報導，應用程式Openf...,https://tw.stock.yahoo.com/news_content/url/d/...
4,1451599007463_N01,news,yahoo股市,重大要聞,2016/1/1 03:30:00,【歐股盤後】全面收黑,中央社,（中央社台北2016年1月1日電）歐洲股市31日封關，三大股市全都收黑，倫敦股市提早收盤，金...,https://tw.stock.yahoo.com/news_content/url/d/...